params {
  help = false

  // Output directory
  outdir = './results'

  // Reference genome to map against when looking for iSNV
  reference = false 

  // Either input reads as a glob pattern or as a tab delimited file
  reads = false
}

profiles {
  stjude {
    includeConfig 'configs/stjude.config'
  }
}

manifest {
    name = 'j23414/unnamed'
    description = "Minor variant analysis pipeline tuned for our needs"
    version = "0.0"
}